{#
    Devdocs is an SPA so each page has identical structure.

    For performance, as many items are marked "safe" as possible.

    CSS is taken straight from DevDocs so variations in tag usage between
    languages/libraries can be normalized.
-#}
<html class="_theme-default">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {# Prefetch navbar to limit flash. #}
    <link rel="preload" href="{{rel_prefix | safe}}assets/index.js" as="script" type="text/javascript" />

    <link rel="stylesheet" type="text/css" href="{{rel_prefix | safe}}application.css" />
    <link rel="stylesheet" type="text/css" href="{{rel_prefix | safe}}assets/index.css" />
</head>
<body>
    <div class="_app">
        <devdocs-navbar current="{{path | safe}}" prefix="{{rel_prefix | safe}}" listing-src="{{rel_prefix | safe}}navbar.json"></devdocs-navbar>
        <div class="_container">
            <main class="_content">
                <div class="_page _{{devdocs_metadata.slug_without_version | safe}}">{{content | safe}}</div>
            </main>
        </div>
    </div>
    <script type="text/javascript" src="{{rel_prefix | safe}}assets/index.js"></script>
</body>

</html>
